<%- include('partials/head') %>
<h2>Any questions? Get in Contact directly!</h2>
<main>
    <div>
        <div>
            <h3>
                Email?
            </h3>
        </div>
        <div>
            <h3>
                Phone?
            </h3>
        </div>
        <div>
            <h3>
                Send in a ticket?
            </h3>
        </div>
    </div>
</main>
<%- include('partials/foot') %>
