<!DOCTYPE html>
<html>
<% include partials/head %>
    <div class="wrapper">
        <h1><%= title %></h1>
        <div class="ra-r"></div>
        <body>

            <div style="margin:0 auto ; width:50%; padding:20px">
              <form action="/users/signup" method="post">
              <label>User Name</label>
              <input type="text" name="username">
                <br /> <br /> <br /> <br />
              <label>Password</label>
              <input type="text" name="password">
                <br /> <br /> <br /> <br />
              <button>submit</button>
                </form>
              </div>
            </body>
    </div>
</div>
<% include partials/foot %>

</html>