<%- include('partials/head') %> 
        <main> 
            <h2>Create your training account now!</h2>
            <p>Note: After registering you still have to login again for security reasons</p>
        <form action="/users/register" method="post">
            <div>
                <label for="username">Username*:</label>
                <input type="text" name="username" id="username" placeholder="Enter your name" required autocomplete="off">
            </div>
           <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" autocomplete="off">
           </div> 
            <div >
                <label for="password">Password*:</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div>
                <label for="age">Age*:</label>
                <input type="number" name="age" id="age" placeholder="00" required>
            </div>
            <div>
                <label for="userid">UserID (Unique 10 character number)*:</label>
                <input type="text" name="userid" id="userid" placeholder="1234567890" autocomplete="off" required maxlength="10">
            </div>
            
            <button type="submit" class="submission-btn">Sign up</button>
        </form>
        <p> 
        <a href="/users/login" class="link">Already have an account? Login now!</a>
        </p>
        </main>

<%- include('partials/foot') %> 