<html lang="en">

<head>
    <title>Book Now!</title>
    <%- include('partials/head') %>
</head>

<body>
    <main>
        <h2>Epic booking page</h2>
    </main>
    <%- include('partials/foot') %>
</body>

</html>