<%- include('partials/head') %>
<h2>
    How can we help you on your fitness Journey?
</h2>
<div>
    <div>
        <h3>
        FAQs
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni cum voluptatem, a dolore praesentium quis quibusdam rerum molestiae! Nulla iste soluta harum ullam, quae voluptatum velit adipisci corporis quam laudantium.
    </p>
</div>
    <div>
        <h3>
        Tips
        <p>
            <ul>
                <li>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt in minus quae saepe numquam dolores, deleniti ducimus. Doloribus repellat enim consequatur dolorum nam officia cumque deleniti. Rem et laborum velit!
                </li>
            </ul>
        </p>
    </h3>
</div>
    <div>
        <h3>
            Programs
        </h3>
    </div>
    
</div>
<%- include('partials/foot') %>