<%- include('partials/head') %> 
<h2>Check your bookings below!</h2>
        <div class="book-square">
          <h3>Please provide Personal details below:</h3>
          <hr>

          <form action="/session/managing", method="post">
            <label for="idCheck">Enter your given ID (10 Characters long) below:</label><br>
            <input type="text" id="idCheck" name="idCheck"><br>

            <button type="submit">Submit</button>
          </form>
        </div>

<%- include('partials/foot') %> 