<%- include('partials/head') %> 
        <form action="">

            <input type="radio" id="male" name="gender" value="Male">
            <label for="Male">Male</label><br>

            <input type="radio" id="female" name="gender" value="Female">
            <label for="Female">Female</label><br>

            <input type="radio" id="other" name="gender" value="Other">
            <label for="Other">Other</label><br>



            <label for="name">Enter your name below:</label><br>
            <input type="text" id="name" name="" value=""><br>
        </form>

<%- include('partials/foot') %> 