<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <title>MTU Phone Usage Monitor</title>
    <link rel="stylesheet" href="/stylesheets/styleHome.css"></link>
</head>

<body>
    <div class=" banner ">
        <div class="navbar ">
        
            <ul>
                <li><a href="/ ">Home</a></li>
        

            </ul>
        </div>
        <div class="content ">
            <h1>Item Updated successfully</h1>
            <p>The item you chose was updated successfully</p>
            <div>
                <a href="/ "><button type="button "><span></span>Home</button></a>
                <a href="/table "><button type="button "><span></span>Review Data</button></a>
            </div>
        </div>
    </div>
</body>

</html>