  <%- include('partials/head') %>

    <main>
        <h2>Epic booking page</h2>
        <div class="book-square">
          <h3>Please provide training session details below:</h3>
          <hr>
          <form action="/session/book" method="post">



            <label for="id">Enter your given ID (10 Characters long) below:</label><br>
            <input type="text" id="id" name="id" value=""><br>
            

            <label for="date">Enter the date you would like to book this session for:</label><br>
            <input type="date" id="date" name="date" value=""><br>


            <label for="time">Enter the time you would like to book this session for:</label><br>
            <input type="text" id="time" name="time" value=""><br>
            <hr>
            <h4>Card Details</h4>

            <label for="cardNumber">Enter your card Number</label><br>
            <input type="number" id="cardNumber" name="cardNumber" minlength="13" maxlength="19" value=""><br>

            <label for="expiryDate">Enter your cards expiry date:</label><br>
            <input type="date" id="expiryDate" name="expiryDate" value=""><br>

            <label for="cvc">CVC (Security pin):</label><br>
            <input type="password" id="cvc" name="cvc" value="" minlength="3" maxlength="3" required><br>

            <button type="submit">Submit</button>
          </form>
        </div>
    </main>
    <%- include('partials/foot') %>