    <%- include('partials/head') %>
    <main>
        <h2>Welcome to your future training journey</h2>
        <div class="blocks-square">
            <h3>This is the beginning of your Fitness Journey</h3>
            <div id="info-para">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque expedita at ipsum earum
                    laboriosam facilis nemo eum ratione non, reiciendis minus, mollitia atque optio? Sunt rem sed sequi
                    ipsa distinctio.
                </p>
                <a class="book-button" href="/session/book">Start now</a>
            </div>
        </div>
    </main>
    <%- include('partials/foot') %>
