html{
    padding:0;
    margin:0;
}

body{
    animation: loading-in 1.5s ease forwards;
    opacity:0;
    transform: scale(2);
    filter: blur(4px);
}



@keyframes loading-in {
   to{
    filter:blur(0);
    transform: scale(1);
    opacity: 1;
   }
}

a{
    font-weight: bold;
}

a:hover{
    text-decoration: double;
    font-size: larger;
    
}
