<%- include('partials/head') %>
    <h2>
        How can we help you on your fitness Journey?
    </h2>
    <div>
        <div>
            <h3>
                FAQs
            </h3>
            <ol>
                <ul>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, beatae?</ul>
                <ul>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur earum maiores commodi error
                    officiis, nostrum tempora et ab nulla odio?</ul>
                <ul>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad velit veritatis eius?</ul>
                <ul>Lorem ipsum dolor sit amet.</ul>
            </ol>
        </div>
        <div>
            <h3>
                Tips
                <div>
                    <ul>
                        <li>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt in minus quae saepe
                            numquam dolores, deleniti ducimus. Doloribus repellat enim consequatur dolorum nam officia
                            cumque deleniti. Rem et laborum velit!
                        </li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut libero ipsum nisi quos!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ut qui voluptate natus totam
                            molestiae. Ducimus impedit culpa esse quisquam tenetur quo eaque voluptates doloribus!</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    </ul>
                </div>
            </h3>
        </div>
        <div>
            <h3>
                Resources
            </h3>
            <ol>
                <li>
                    <a id="tip-links"
                        href="https://www.muscleandfitness.com/workout-plan/workouts/workout-routines/complete-mf-beginners-training-guide-plan/">4
                        gym plans</a>
                </li>
                <li>
                    <a id="tip-links"
                        href="https://www.puregym.com/blog/the-best-gym-workout-plan-for-gaining-muscle/">Plan for
                        Muslce</a>
                </li>
                <li><a id="tip-links" href="https://www.calculator.net/calorie-calculator.html">Calorie Calculator</a>
                </li>
            </ol>
        </div>

    </div>
    <%- include('partials/foot') %>