html {
    padding: 50px;
    font:
        14px "Lucida Grande",
        Helvetica,
        Arial,
        sans-serif;
    background-color: black;
    color: white;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color:purple;
    text-decoration: underline;
}

.book-button{
        text-decoration: none;
}