<%- include('partials/head') %>
    <h2>Any questions? Get in Contact directly!</h2>
    <main>
        <div>
            <div>
                <h3>
                    Email?
                </h3>
                <a href="mailto:dsoden09@gmail.com">dsoden09</a>
            </div>
            <div>
                <h3>
                    Phone?
                </h3>
                <a href="tel:+353861628488">0861628488</a>
            </div>
        </div>
    </main>
    <%- include('partials/foot') %>