
            <table>
              <tr>
                <th>User ID</th>
                <th>Booking Date</th>
                <th>Booking time</th>
              </tr>
                <% bookingInfo.array.forEach(element => { %>
                <tr>
                  <td><%= element.userID%></td>
                  <td><%= element.date %></td>
                  <td><%= element.time %></td>
                </tr>
                <% }); %>
              
            </table> 