<%- include('partials/head') %>

    <body>
        <header>
            <h3>Delete a booking</h3>
        </header>
        <main>
            <form action="/session/deletion" method="get">
                <label for="id">Enter your given ID (10 Characters long) below:</label><br>
                <input type="text" id="id" name="id" value=""><br>


                <label for="date">Enter the date you have booked this session for:</label><br>
                <input type="date" id="date" name="date" value=""><br>


                <label for="time">Enter the time you have booked this session for:</label><br>
                <input type="time" id="time" name="time" value=""><br>
            </form>
        </main>
    </body>
    <%- include('partials/foot') %>