<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
    <title>
        Soden Training
    </title>

</head>

<body>
    <header>
        <h1 id="main-header">Soden Training 2024</h1>
        <nav id="nav-head-bar">
            <a href="/">Home</a>
            <a href="/session/book">Book a session</a>
            <a href="/session/manage">View sessions</a>
            <a href="/session/contact">Contact us</a>
            <a href="/session/help">Help/FAQs</a>
            <%- include('login-register') %>
        </nav>
    </header>
    <div class="center-box">
        <div class="center-item">